body { background-color: rgb(208, 223, 246) }

.introduction{
  margin-top: 100px;
  margin-left: 30px;
  width: 600px;
  height: 100px;
  font-size: 20px;
}

#wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 90%;
  height: 700px;
}
#notes {
  float: right;
  width: 30%;
}

footer{
  float: right;
  padding: 10rem;
}