<!DOCTYPE html>
<div lang='en'>

  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Tech Crunch Scraper</title>
    <!-- Jquery -->
    <script src='https://code.jquery.com/jquery-3.4.1.js'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- CSS Styling -->
    <link rel='stylesheet' type='text/css' href='/assets/css/style.css'>
    <script src="https://use.fontawesome.com/0b13248621.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Gayathri|Source+Code+Pro&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Tech Crunch Scraper</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a class="homeIndex" href="/">Home</a></li>
            <li class="active"> <a class="savedA" href="/saved">Saved Articles</a></li>
          </ul>
        </div>
      </nav>

      <div class="jumbotron text-center">
        <div class="overlay">
        </div>
        <div class="background-image">
        </div>
      </div>

      <div class='introduction'>
        <p>
          This scraper pulls articles from <a href='https://techcrunch.com/' target='article'>Tech Crunch</a> and allows
          you to save them and write notes to articles. All of the content scraped on this page belongs to <a
            href='https://techcrunch.com/' target='article'>Tech Crunch</a>.
        </p>
      </div>

      <div id="wrapper">
        <div id="savedArticles"></div>
        <div id="notes"></div>
        <div class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Notes:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>There Are No Notes Yet</p>
              </div>
              <div class="modal-footer">
                <form id='new-note'>
                  <p id='form-warn'></p>
                  <div class='form-group'>
                    <label for='new-comment'>Comment:</label>
                    <textarea id='new-comment' class='form-control'></textarea>
                  </div>'
                  <button type="button" class="btn btn-primary">Save Changes</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>

      <footer class="footer">
        <div id='footer'>
          Copyright © adi868
        </div>
      </footer>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
      <script src="/assets/javascript/saved.js"></script>
  </body>

  </html>